/*html,*/
/*body {*/
    /*height: 100%;*/
/*}*/

/*body {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin: 0;*/
/*}*/

/*!*the overlay for info box*!*/
/*.overlay{*/
    /*display: none;*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*top: 0;*/
    /*left: 0;*/
    /*!*brings it on top*!*/
    /*z-index: 1000;*/
    /*background-color: rgb(0,0,0);*/
    /*background-color: rgba(0,0,0,0.4);*/
/*}*/

/*!*the info box*!*/
/*.info-box {*/
    /*--h: 300px;*/
    /*--w: 500px;*/
    /*background: white;*/
    /*border: 1px solid #888;*/
    /*width: var(--w);*/
    /*height: var(--h);*/
    /*!*center box*!*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*!*-half of height and width to place in actual center*!*/
    /*margin-left: calc(var(--w) / -2);*/
    /*margin-top: calc(var(--h) / -2);*/
/*}*/
/*!*header for the info box - contains drink name*!*/
/*.info-box-header {*/
    /*display: flex;*/
    /*height: 40px;*/
    /*!*padding: 2px 16px;*!*/
    /*!*font-size: 30px;*!*/
    /*background-color: lightblue;*/
    /*color: black;*/
/*}*/

/*!*the close button for info window*!*/
/*.close-info-box{*/
    /*color: #aaa;*/
    /*!*position: fixed;*!*/
    /*float: right;*/
    /*margin-top: -5px;*/
    /*font-size: 36px;*/
    /*font-weight: bold;*/
/*}*/

/*!*what to do on hover over close button*!*/
/*.close-info-box:hover,*/
/*.close-info-box:focus {*/
    /*color: black;*/
    /*text-decoration: none;*/
    /*cursor: pointer;*/
/*}*/

/*!*the main body of the info box*!*/
/*.info-box-body{*/
    /*display: flex;*/
    /*padding: 5px;*/
    /*!*flex-grow: 1;*!*/
    /*font-size: 20px;*/
    /*height: calc(100% - 10px);*/
    /*width: calc(100% - 10px);*/
    /*background-color: darkorange;*/
    /*color: black;*/
/*}*/

/*.header {*/
    /*background: red;*/
    /*height: 50px;*/
    /*line-height:50px;*/
/*}*/

/*.header-text {*/
    /*display:inline-block;*/
    /*!*vertical-align: top;*!*/
    /*margin-top:0;*/
    /*margin-left:5px;*/

/*}*/
/*button:hover{*/
    /*cursor:pointer;*/
/*}*/

/*.login-link {*/

/*}*/
/*.login-button {*/
    /*float: right;*/
    /*height: 30px;*/
    /*width: 90px;*/
/*}*/

/*.language{*/
    /*position:relative;*/
    /*float:right;*/
    /*height:30px;*/
    /*width:80px;*/
    /*background:green;*/
/*}*/
/*.credits {*/
    /*display:block;*/
    /*float: right;*/
    /*margin-top: 1px;*/
    /*margin-bottom:1px;*/
    /*padding-top:1px;*/
    /*border: 0;*/
    /*line-height:80px;*/
    /*height:10px;*/
    /*position: relative;*/
    /*left:160px;*/
/*}*/

/*.main {*/
    /*display: flex;*/
    /*flex-grow: 1;*/
/*}*/

/*.drinks,*/
/*.order-summary {*/
    /*flex-grow: 1;*/
/*}*/

/*.drinks {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 65%;*/
    /*padding: 20px;*/
    /*background: green;*/
/*}*/

/*.drinks-categories {*/
    /*display: flex;*/
    /*flex-shrink: 0;*/
    /*height: 50px;*/
    /*background: yellow;*/
/*}*/

/*.category {*/
    /*flex-grow: 1;*/
/*}*/

/*.drinks-grid {*/
    /*display: flex;*/
    /*flex-grow: 1;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    /*background: purple;*/
    /*overflow-y: scroll;*/
/*}*/

.header-text,
.admin-navigation {
    display: inline-block;
}

.admin-link {
    margin-left: 15px;
}

.order-button-admin {
    position:relative;
    float:right;
    height:30px;
    width:80px;
    background:#11ad17;
    color: white;
}

.drinks-grid .drink:first-child {
    font-weight: bold;
}
.wine-grid .drink:first-child {
    font-weight: bold;
}
.cider-grid .drink:first-child {
    font-weight: bold;
}
.na-grid .drink:first-child {
    font-weight: bold;
}
.drinks-grid .drink:first-child .drink-name {
    line-height: 30px;
}

.wine-grid .drink:first-child .drink-name {
    line-height: 30px;
}

.cider-grid .drink:first-child .drink-name {
    line-height: 30px;
}

.na-grid .drink:first-child .drink-name {
    line-height: 30px;
}

.drink {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /*height: 40px;*/
    line-height: 40px;
    margin: 5px;
    background: #FCFCFC;
}

.rest-of-information {
    width: 100%;
    z-index: 1000;
}

.drink-name {
    height: 100%;
    width: 40%;
    float:left;
    line-height: 15px; /* Because of 2 lines */
}

.price {
    width: 15%;
    height: 100%;
    float:left;
}

.stock {
    width: 15%;
    height: 100%;
    float:left;
}

.alcohol {
    width: 15%;
    height: 100%;
    float: left;
}

.drink-image {
    display: block;
    height: 160px;
    margin: 0 auto;
}

.more-information-button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none !important;
    font-size:0;
}

.entered-payment-error {
    /*display: none;*/
    color: transparent;
    margin-top: 5px;
    margin-bottom: 2px;
}

.payment {
    /*display: block;*/
    /*position: fixed;*/

    /*height: 100%;*/
    /*widows: 100;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 1000;*/
    margin-top: 50px;
    display: none;
    position: fixed;
    width: 65%;
    height: 100%;
    top: 0;
    left: 0;
    /*brings it on top*/
    z-index: 1000;
    background: #FFF;
    border: 1px solid #BBB;
    box-shadow: 0 0 2px #EEE;
    border-radius: 3px;
    /*background-color: rgb(0,0,0);*/
    /*background-color: rgba(0,0,0,0    .4);*/
}

.payment-text {
    margin-left: 5px;
    font-size: 25px;
}

.credit-option {
    float: left;
    border: 1px solid #BBB;
    width: 49%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.credit {
    margin-top: 2px;
    /*margin-bottom: 1px;*/
    margin-left: 5px;
}

.credit-card-button {
    margin-left: 25%;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 200px;
    background-color: #11ad17;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.cash-pay-button {
    margin-top: 5px;
    margin-left: 25%;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 200px;
    background-color: #11ad17;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.cash {
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: 5px;
}

.cash-option {
    float: right;
    border: 1px solid #BBB;
    width: 49%;
    height: 100%;
}

.container-numpad {
    position: relative;
    width: 100%;
    /*border: 1px solid #BBB;*/
    /*display: inline-block;*/
}

.numpad {
    display: inline-block;
    width: 31%;
    height: 100px;
    margin: 5px;
    background: #BBB;
    float: right;
}

.numpad-button {
    width: 100%;
    height: 100%;
}

.numpad-erase-button {
    width: 100%;
    height: 100%;
}

block[h2] {
    width: 64%;
}

.added-payment {
    margin-left: 8px;
    width: 96%;
    height: 3%;
    font-size: 20px;
}


/*.order-summary {*/
    /*width: 35%;*/
    /*background: blue;*/
    /*display:flex;*/
    /*flex-direction: column;*/
/*}*/

/*.currentOrder, .summary-control {*/
    /*flex-grow: 1;*/
/*}*/

/*.currentOrder {*/
    /*border-radius:10px;*/
    /*background:white;*/
    /*margin:5px;*/
    /*padding:5px;*/
    /*flex-basis: 85%;*/
/*}*/

/*.order-summary ul{list-style-type:none;}*/
/*.order-summary span.orderQuantity{*/
    /*float:right;*/
    /*width:100px;*/
    /*text-align:center;*/
/*}*/

/*.order-summary span.orderQuantity button[type=decrease]{*/
    /*float:left;*/
/*}*/
/*.order-summary span.orderQuantity button[type=increase]{*/
    /*float:right;*/
/*}*/

/*.summary-control{*/
    /*align-self:flex-end;*/
/*}*/


/*.order-summary .summary-control button{*/
    /*float:right;*/
/*}*/