.header-text,
.admin-navigation {
    display: inline-block;
    font-family: 'Lobster', sans-serif;
}

.admin-navigation {
    vertical-align: top;
    display: inline-block;
    margin-left: 20px;
}

.addorder {
    padding-right: 5px;
}

.drinks-header
{
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    border-bottom: 1px solid #CCC;
}

.admin .drink {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    line-height: 40px;
    margin: 5px;
    background: #FCFCFC;
}

.drink-quantity {
    margin-top: 4px;
    margin-bottom: 4px;
}

.rest-of-information {
    width: 100%;
    z-index: 1000;
}

.admin .drink-name {
    display: table;
    height: 100%;
    width: 40%;
    float:left;
    padding-top: 0;
    margin-right: 0;
    box-sizing: border-box;
}

.drink-name-inner {
    display: table-cell;
    vertical-align: middle;
}

.drink-name .namn,
.drink-name .namn2 {
    font-size: 18px;
    line-height: 21px;
}

.namn2 {
    font-weight: 400;
}

.admin .list .alcohol,
.admin .list .price,
.admin .list .stock {
    line-height: 48px;
    font-size: 22px;
}

.price {
    width: 15%;
    height: 100%;
    float:left;
}

.stock {
    width: 15%;
    height: 100%;
    float:left;
}

.alcohol {
    width: 15%;
    height: 100%;
    float: left;
}

.order-drink {
    position: relative;
    width: 15%;
}

.drink-image {
    display: block;
    height: 160px;
    margin: 0 auto;
}

.more-information-button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none !important;
    font-size:0;
}

.entered-payment-error {
    color: transparent;
    margin-top: 5px;
    margin-bottom: 2px;
}

.payment {
    margin-top: 50px;
    display: none;
    position: fixed;
    width: 65%;
    height: 100%;
    top: 0;
    left: 0;
    /*brings it on top*/
    z-index: 1000;
    background: #FFF;
    border: 1px solid #BBB;
    box-shadow: 0 0 2px #EEE;
    border-radius: 3px;
    overflow-y: auto;
}

.payment-text {
    margin-left: 5px;
    font-size: 25px;
}

.credit-option {
    float: left;
    border: 1px solid #BBB;
    width: 49%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.credit {
    margin-top: 2px;
    margin-left: 5px;
}

.credit-card-button {
    margin-left: 25%;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 200px;
    background-color: #11ad17;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.cash-pay-button {
    margin-top: 5px;
    margin-left: 25%;
    margin-bottom: 50px;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 200px;
    background-color: #11ad17;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.cash {
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: 5px;
}

.cash-option {
    float: right;
    border: 1px solid #BBB;
    width: 49%;
    display: flex;
    flex-direction: column;
}

.container-numpad {
    position: relative;
    width: 100%;
}

.numpad {
    display: inline-block;
    width: 32%;
    height: 100px;
    margin: 0.5%;
    background: #BBB;
    float: right;
}

.numpad-button {
    width: 100%;
    height: 100%;
}

.numpad-erase-button {
    width: 100%;
    height: 100%;
}

block[h2] {
    width: 65%;
}

.added-payment {
    margin-left: 8px;
    width: 96%;
    height: 3%;
    font-size: 20px;
}

.cancel,
.order-button-admin {
    font-size: 20px;
    padding: 10px 15px;
    margin-bottom: 15px;
    height: 50px;
}

.cancel {
    margin-left: 15px;
    margin-right: 50px;
}
.order-button-admin {
    flex-grow: 1;
    margin-right: 15px;
    background: #11ad17;
    color: #FFF;
    border-radius: 5px;
}

.admin-link {
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    border-left: 2px solid #DDD;
    text-decoration: none;
    color: #000;
}

.admin-link.selected {
    background: #FDFDFD;
}

.admin-link:last-child {
    border-right: 2px solid #DDD;
}

.admin-out-of-stock {
    position: absolute;
    left: 4px;
    top: 4px;
    bottom: 4px;
    width: 41px;
    z-index: 500;
    background-color: rgba(0,0,0,0.4);
}