html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #EEE;
}

body,
button {
    font-family: 'Open Sans', sans-serif;
}

button {
    border: none;
    outline: none;
}

/* Reusable class to give each section a card-style look */
.card {
    background: #FFF;
    border: 2px solid #BBB;
    box-shadow: 0 0 2px #EEE;
    border-radius: 3px;
}

.info-button {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 3px;
    top: 3px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border-radius: 15px;
    background: #fff;
    color: #5298e6;
    cursor: pointer;
}

/*the overlay for info box*/
.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*brings it on top*/
    z-index: 1000;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/*the info box*/
.info-box {
    --h: 300px;
    --w: 500px;
    background: white;
    border: 1px solid #888;
    width: var(--w);
    height: var(--h);
    /*center box*/
    position: absolute;
    top: 50%;
    left: 50%;
    /*-half of height and width to place in actual center*/
    margin-left: calc(var(--w) / -2);
    margin-top: calc(var(--h) / -2);
}
/*header for the info box - contains drink name*/
.info-box-header {
    display: flex;
    height: 49px;
    line-height: 40px;
    padding-left: 10px;
    /*font-size: 30px;*/
    background-color: #EEE;
    color: black;
}

/* namn in header of info-box*/
.namn {
    font-size: 30px;
}

.info-box-drink-image{
    display: flex;
    background-color: white;
    position: absolute;
    top: 50%;
    /*left pos is half - center of page - 250px(half of infobox width) and - 120(width of image)*/
    left: calc(50% - 370px);
    height: 300px;
    width: 120px;
    /*margin-left: -60px);*/
    margin-top: -150px;
}
.info-header {
    margin: 0 10px;
}

.info-sub-header {

}

/*the close button for info window*/
.close-info-box{
    color: #aaa;
    /*position: fixed;*/
    float: right;
    /*margin-top: -5px;*/
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    text-align: center;
    background: #cecece;
    color: #fb1414;
    height: 49px;
    line-height: 49px;
}

.close-info-box-confirmation{
    color: #aaa;
    /*position: fixed;*/
    float: right;
    /*margin-top: -5px;*/
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    text-align: center;
    background: #cecece;
    color: #fb1414;
}

/*what to do on hover over close button*/
.close-info-box:hover,
.close-info-box:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-info-box-confirmation:hover,
.close-info-box-confirmation:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*the main body of the info box*/
.info-box-body{
    display: flex;
    padding: 10px;
    /*flex-grow: 1;*/
    font-size: 18px;
    height: calc(100% - 10px);
    width: calc(100% - 20px);
    color: black;
}

.confirmation-overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*brings it on top*/
    z-index: 1000;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.confirmation-box{
    --h: 300px;
    --w: 500px;
    background: white;
    border: 1px solid #888;
    width: var(--w);
    height: var(--h);
    /*center box*/
    position: absolute;
    top: 50%;
    left: 50%;
    /*-half of height and width to place in actual center*/
    margin-left: calc(var(--w) / -2);
    margin-top: calc(var(--h) / -2);
}

.confirmation-box-header {
    display: flex;
    height: 49px;
    line-height: 40px;
    padding-left: 10px;
    /*font-size: 30px;*/
    background-color: #EEE;
    color: black;
}

.confirmation-box-body{
    display: flex;
    padding: 10px;
    /*flex-grow: 1;*/
    font-size: 20px;
    height: calc(100% - 10px);
    width: calc(100% - 20px);
    color: black;
}

.confirmation-button{
    background-color: #4CAF50;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;

    border: none;
    cursor: pointer;
    width: 100%;
    height: 20%;
    font-weight: bold;
    font-size: medium;
}

.header {
    background: #FFF;
    height: 50px;
    line-height:50px;
    /* Cancel out unneeded .card properties */
    border-width: 0 0 2px 0;
    border-radius: 0;
    padding-left: 20px;
    font-weight: 300;
    color: #333;
}

.header-text {
    display:inline-block;
    /*vertical-align: top;*/
    margin-top:0;
    margin-left:5px;
    font-family: 'Lobster', sans-serif;
}
.header-text a {
    text-decoration: none;
    color: brown;
}

button:hover{
    cursor:pointer;
}

.login-link {

}

.login-button,
.language {
    position:relative;
    float:right;
    height:40px;
    padding: 0 15px;
    margin: 5px 5px 0 0;
    font-size: 18px;
    border: none;
}

.language {
    color: white;
    /*background:#11ad17;*/
}

.credits {
    display:block;
    float: right;
    margin: 2px 15px 0;
    font-size: 20px;
}

.main {
    display: flex;
    flex-grow: 1;
}

.drinks,
.order-summary {
    flex-grow: 1;
}

.drinks {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 20px;
    /*background: green;*/
}

.drinks-categories {
    display: flex;
    flex-shrink: 0;
    height: 50px;
    background: yellow;
}

.category {
    border-right: 2px solid #9a9a9a;
    flex-grow: 1;
    font-size: 20px;
    text-decoration: underline;
}
.category:last-child {
    border-right: none;
}

.selected {
    /*background: #5298e6;*/
    background: white;
    font-weight: 600;
    text-decoration: none;
}

.drinks-grid {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;

}

.wine-grid {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    display: none;
}

.cider-grid {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    display: none;
}

.na-grid {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    display: none;
}

.drink {
    width: 180px;
    /*height: 250px;*/
    margin: 10px 10px 10px;
    position: relative; /* So .drink-quantity can have position: absolute */
    background: #EEE;
    border: 2px solid #BBB;
}

.out-of-stock-drink {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    background-color: rgba(0,0,0,0.4);
}

.out-of-stock-text {
    margin-top: 60%;
    text-align: center;
    color: red;
}

.drink-info {
    position: relative;
    height: 200px;
}

.drink-name {
    margin-right: 32px; /* Prevent it being hidden by .info-button */
    padding: 5px 0 0 5px;
    font-weight: 600;
}

.drink-image {
    display: block;
    height: 130px;
    margin: 0 auto;
}

.drink .drink-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.drink .drink-image img {
    width: 45px;
    margin: 0 auto;
    display: block;
}

.customer .drink .alcohol {
    position: absolute;
    bottom: 3px;
    left: 7px;
}

.customer .drink .drink-price-div {
    position: absolute;
    bottom: 3px;
    right: 7px;
    font-weight: 600;
}

.drink-quantity {
    display: flex;
    margin: 0 5px 5px;
    text-align: center;
    padding: 0;
    line-height: 40px;
    font-size: 30px;
}

.drink-quantity .change-quantity {
    width: 40px;
    height: 40px;
    color: #FFF;
    font-size: 28px;
    line-height: 35px;
}

.admin-link {
    margin-left: 15px;
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
}

.admin-out-of-stock {
    position: absolute;
    top: 4px;
    bottom: 5px;
    left: 95%;
    right: 5px;
    z-index: 500;
    background-color: rgba(0,0,0,0.4);

}
.change-quantity.decrease {
    /*float: left;*/
    background: #dc3d3d;
}

.current-quantity {
    flex-grow: 1;
}

.change-quantity.increase {
    /*float: right;*/
    background: #86dc3d;
}

.corder {
    margin: 0;
    padding: 0 10px;
    height: 58px;
    box-sizing: border-box;
    background: #CCC;
    line-height: 50px;
    text-transform: uppercase;
    color: #666;
    border-bottom: none;
}

.order-summary {
    position: relative;
    width: 35%;
    display:flex;
    flex-direction: column;
    margin: 20px 20px 20px 0;
}

.currentOrder, .summary-control {
    flex-grow: 1;
}

.currentOrder {
    /*border-radius:10px;*/
    background:white;
    /*margin:5px;*/
    padding: 20px;
    flex-basis: 85%;
}

.currentOrder ul {
    margin: 0;
    padding: 0;
}

.currentOrder li {
    background: #EEE;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #CCC;
}

.orderQuantity {
    display: inline-flex;
}

.order-summary ul{list-style-type:none;}
.order-summary span.orderQuantity{
    float:right;
    display: inline-block;
    /*width:130px;*/
    text-align:center;
    padding: 0 10px;
}

.quantity {
    padding: 0 5px;
}

.undo,
.redo {
    position: absolute;
    top: 15px;
    cursor: pointer;
    font-weight: bold;
}

.undo {
    right: 90px;
}

.redo {
    right: 20px;
}

.ordered-drink-row {
    display: flex;
}

.beername {
    flex-grow: 1;
}

.summary-control{
    display: flex;
    align-self:flex-end;
    background: #FFF;
    width: 100%;
}

.cancel,
.order-button {
    font-size: 20px;
    padding: 10px 15px;
    margin-bottom: 15px;
    height: 50px;
}

.cancel {
    margin-left: 15px;
    margin-right: 50px;
}
.order-button {
    flex-grow: 1;
    margin-right: 15px;
    background: #11ad17;
    color: #FFF;
}

.remove, .increase-ol, .decrease-ol{
    display: inline-block;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    width: 30px;
    text-align: center;
    background: #cecece;
    cursor: pointer;
}

.remove {
    color: #FFF;
}

.decrease-ol,
.increase-ol {
    color: #FFF;
}
.decrease-ol {
    background: #dc3d3d;
}

.increase-ol {
    background: #86dc3d;
}

.bSum {
    margin-left: 10px;
}

.remove {
    margin-right: 15px;
}

.logged-out .order-summary {
    display: none;
}

.logged-out .drink-quantity {
    display: none;
}