html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background: red;
    height: 50px;
    line-height:50px;

}

.header-text {
    display:inline-block;
    /*vertical-align: top;*/
    margin-top:0;
    margin-left:5px;

}
button:hover{
    cursor:pointer;
}

.login {
    float: right;
    height:50px;
    width:90px;

}
.language{
    position:relative;
    float:right;
    height:40px;
    width:80px;
    background:green;

}

.main {
    display: flex;
    flex-grow: 1;
}

.drinks,
.order-summary {
    flex-grow: 1;
}

.drinks {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 20px;
    background: green;
}

.drinks-categories {
    display: flex;
    flex-shrink: 0;
    height: 50px;
    background: yellow;
}

.category {
    flex-grow: 1;
}

.drinks-grid {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    background: purple;
    overflow-y: scroll;
}

.drink {
    width: 150px;
    height: 200px;
    margin: 10px;
    background: orange;
}

.drink-name {}

.drink-image {
    display: block;
    height: 160px;
    margin: 0 auto;
}

.order-summary {
    width: 35%;
    background: blue;
}

.currentOrder {
    border-radius:10px;
    background:white;
    margin:5px;
    padding:5px;
}

.order-summary ul{list-style-type:none;}
.order-summary span.orderQuantity{
    float:right;
    width:100px;
    text-align:center;
}

.order-summary span.orderQuantity button[type=decrease]{
    float:left;
}
.order-summary span.orderQuantity button[type=increase]{
    float:right;
}