.orders-grid{
    /*for some reason this div is waaaay to high and i had to move it down 27% ????*/
    margin-top: 12%;
    margin-left: 10px;
    margin-right: 10px;
}

.orders-grid .order-item:first-child {
    font-weight: bold;
    line-height: 50px;
}

.orders-grid .order-item:first-child .drink-name{
 line-height: 40px;
}

.orders {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 20px;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    /* background: green; */
}

.order-item{
    display:flex;
    width: calc(100% - 5px);
    height: 40px;
    line-height: 40px;
    margin: 5px;
    background: #FCFCFC;
}

.card {
    background: #FFF;
    border: 2px solid #BBB;
    box-shadow: 0 0 2px #EEE;
    border-radius: 3px;
}

.customer-name {
    width: 25%;
    height: 100%;
    float:left;
    margin-right: 10px;
    /*padding: 5px 0 0 5px;*/
    /*line-height: 15px; !* Because of 2 lines *!*/
}

.price {
    width: 25%;
    height: 100%;
    float:left;
}

.time {
    width: 25%;
    height: 100%;
    float:left;
}

.drink-name {
    width: 25%;
    height: 100%;
    float:left;
    line-height: 15px; /*Because of 2 lines*/
}

.admin-link {
    margin-left: 15px;
}

.header-text,
.admin-navigation {
    display: inline-block;
}

